body{
    color: white;
}
.bg-info-container{
    background-image: url(/images/cotizacion/back-cotizacion.jpg) !important;
}
.info{
    color: white;
    background-color: #8374d9b4;
    border-radius: 2em;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

/*Tool-Container*/
.tool-container{
    color: white;
    background-color: #
}