body{
    background-color: #1e1250;
}
.left-one{
    background-color: #1e1250;
    color: white;
}
.full-page-container {
    height: 90vh !important;
}
.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.img-container {
    margin: 0;
    padding-right: 0 !important;
    padding-left: 0 !important;
    height: 585px;
}
.img-cover{
    object-fit: cover;
}
.btn-custom{
    background-image: linear-gradient(135deg, #5603ad, #f58cd6);
}
@media screen and (max-width: 768px) {
    .left-one{
        padding-top: 50px;
    }
    .clientsImages{
        height: 100px;
    }
}