body{
    margin: 0;
    color: white !important;
    background-color: #1b1f3b;
}

.table{
    color: white;
}
/*NavBar*/
nav{
    background-color: #8367c7;
    font-family: 'Patua One', cursive;
    padding: 0.5em;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
}
.nav-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    width: 15%;
}
#nav-button{
    height: 100%;
    width: 100px;
    font-size: 1em;
    background-color: #8367c7;
    border: 2px solid white;
    border-radius: 2em;
    margin-right: 1em;
}
#nav-button:hover{
    background-color: #b14aed;
}
#nav-photo-user{
    border-radius: 50%;
    background-color: #454ADE;
    padding: 20px;
}
/*DashBoard*/
/* Estilo para el dashboard lateral */
#dash-board {
    position: fixed;
    left: -350px;
    width: 300px;
    height: 100vh;
    background-color: #b14aed;
    transition: left 0.3s ease;
    z-index: 1;
}
/* Estilo para abrir el dashboard */
#dash-board.dashboard-open {
    left: 0;
}
#dash-board-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-weight: bolder;
}
#dash-photo-user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #454ADE;
    align-self: center;
}
.dash-button{
    border: none;
    border-radius: 2em;
    height: 50px;
    background-color:#5603ad;
    margin: 10px;
    color: white;
    font-size: small;
    font-family: 'Lexend', sans-serif;
    font-weight: bolder;
}
.dash-button:hover{
    background-color: #8367c7;
    border: 2px solid white;
}

/*Main*/
.main-dash-open {
    margin-left: 300px; /* Cambia el valor según sea necesario para ajustar el desplazamiento */
    transition: margin-left  0.3s ease; /* Agrega una transición suave para una animación fluida */
}
.test{
    background-color: #5603ad;
    border-radius: 10em;
    padding: 10px;
    width: 50%;
}

.tab-content{
    display: none;
  }

.tab-content.active{
    display: block;
    padding: 10px;
  }
#fecha{
    background-color: #5603ad;
    padding: 10px;
    border-radius: 20px;
    border-top: 50px solid #5603ad;
}

/*Tablas*/
.thead-purple {
    background-color: #b14aed;
  }
.table-hover tbody tr:hover {
    background-color: #f8f9fa;
    color: #5603ad;
}  

/*Modal*/
.modal-content{
    background-color: #454ADE;
}

/*View options*/
.view-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-bar{
    width: 40% !important;
}

.container {
    display: flex;
    justify-content: space-between;
  }

  .personal-info,
  .event-history {
    flex: 1;
    
  }
  