body{
    margin: 0;
    color: white !important;
    background-color: #F1E9DC;
}
.control-label{
    color: white;
    font-size: large;
}
 #table-info{
/*     USE Texto Arriva de Tablas*/
    color: #343434 ; 
} 
#table-info-menus{
    color:  #343434;
}
#tablaResultados{
    color: #343434;
}

.fa-business-time{
    color: #343434 ;
}

.table{
    color: white;
}
/*NavBar*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #A595B7;
    font-family: 'Patua One', cursive;
    padding: 0.5em;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
}
.nav-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    width: 15%;
}
#nav-button{
    height: 100%;
    width: 100px;
    font-size: 1em;
    background-color: #343434;
    border: 2px solid white;
    border-radius: 2em;
    margin-right: 1em;
}
#nav-button:hover{
    background-color: #d8d8d6;
}
#nav-photo-user{
    border-radius: 50%;
    background-color: #454ADE;
    padding: 20px;
}
/*DashBoard*/
/* Estilo para el dashboard lateral */
#dash-board {
    position: fixed;
    left: -350px;
    width: 300px;
    height: 100vh;
    background-color: #343434;
    transition: left 0.3s ease;
    z-index: 1;
}
/* Estilo para abrir el dashboard */
#dash-board.dashboard-open {
    left: 0;
}
#dash-board-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-weight: bolder;
}
#dash-photo-user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #454ADE;
    align-self: center;
}
.dash-button{
    border: none;
    border-radius: 20px;
    height: 50px;
    background-color:#A595B7;
    margin: 10px;
    color: white;
    font-size: small;
    font-family: 'Lexend', sans-serif;
    font-weight: bolder;
}
.dash-button:hover{
    background-color: #8367c7;
    border: 2px solid white;
}

/*Main*/
#main{
    margin-top: 83px; /*Tamano de la navbar*/
}
.main-dash-open {
    margin-left: 300px;
    transition: margin-left  0.3s ease; /* Agrega una transición suave para una animación fluida */
}
.test{
    background-color: #A595B7;
    border-radius: 10em;
    padding: 10px;
    width: 50%;
}

.custom-accordion-header{
    background-color: #b14aed !important;
    color: white;
}

.tab-content{
    display: none;
  }

.tab-content.active{
    display: block;
    padding: 10px;
  }
#fecha{
    background-color: #5603ad;
    padding: 10px;
    border-radius: 20px;
    border-top: 50px solid #5603ad;
}

/*Tablas*/
.thead-purple {
    background-color: #5603ad;
  }
.table-hover tbody tr:hover {
    background-color: #e0c3ee;
    color: #5603ad;
}
tbody{
    background-color: #d8d8d6;
    color: #343434;
    font-weight: bold;
}
.custom-dropdown{
    background-color: #A595B7 !important;
    border: none;
    width: 100%;
}
.custom-drop-menu{
    background-color: #343434;
    color: white !important;
    border: 2px solid white;
}
.dropdown-item{
    color: white;
}
.dropdown-item:hover{
    background-color: #b14aed;
}
/*Modal*/
.modal-content{
    background-color: #61697b;
}
.modal-header{
    background-color: #A595B7;
}
.modal-header-warning{
    background-color: #dc3545;
}
.btn-close-custom{
    background-color: white;
}
.btn-modal{
    border-radius: 2em;
    background-color: #A595B7;
    border: 2px solid white;
}
.btn-modal:hover{
    background-color: #b14aed;
    border: 2px solid white;
}
.btn-modal-warning{
    border-radius: 2em;
    background-color: #dc3545;
    border: 2px solid white;
}
.btn-modal-warning:hover{
    background-color: #a33d42;
    border: 2px solid white;
}

.btn-view-custom{
    border: none;
    width: 100%;
    text-align: left;
}

.custom-ver-historial{
    background-color: #b14aed;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
}

#btnEmpleadosRegistrados, #btnAceptarEvento, #btnModify, #btnSaveChanges,
#btnEditarDatosPersonales, #nuevoAdmin, #btnGuardarCambios, #btnpassword{
    color: white;
    background-color: #b14aed;
    border: 2px solid white;
}
#btnCancelarEvento, #btnCancelarCambios{
    border: 2px solid white;
}

/*View options*/
.view-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-options{
    background-color: #A595B7;
}
.btn-options:hover{
    background-color: #b14aed;
}
.search-bar{
    width: 40% !important;
}

.container {
    display: flex;
    justify-content: space-between;
  }

  .personal-info,
  .event-history {
    flex: 1;
  }
.accordion-body{
    background-color: #d8d8d6;
}
.form-select-custom{
    background-color: #A595B7;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

#estadoSelect option:hover {
    background-color: #b14aed;
    
}
  
/*Charts and info*/
 #proporcionEmpleados, #proporcionEmpleados2, #pieTipoMenus{
    background-image: linear-gradient(135deg, #343434, #343434 );
    color: white;
    border-radius: 20px;
    height: 240px;
}
#proporcionEmpleados{
    height: 200px;
    width: 200px; 
}
.info-card{
    background-image: linear-gradient(180deg, #343434, #343434);
    border-radius: 20px;
    padding: 50px;
}
#eventosAño{
    background-image: linear-gradient(135deg, #343434, #343434);
    border-radius: 20px;
    padding: 50px;
}
.graficaEventos{
    background-image: linear-gradient(135deg,  #343434, #343434);
    border-radius: 20px;
    padding: 50px;
}
.graficaEventos{
    background-image: linear-gradient(135deg, #5603ad, #f58cd6);
    border-radius: 20px;
    padding: 50px;
}

.search-container {
    display: flex;
    justify-content: space-between;
  }

  .search-container .filter {
    flex: 1;
  }

  .search-container .search {
    flex: 0.4;
    display: flex;
    justify-content: flex-end;
  }
  .searchFechas {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  .search-row {
    margin-bottom: 5px;
}
  .panel-header {
    text-align: center;
}


#estadoSelect {
    width: 300px;
    margin-left: 10px;
}
#modalConfirmacion {
    z-index: 3000;
  }

.alert {
    /* Estilo común para todas las alertas */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
.alert-success {
    /* Estilo para alerta de éxito */
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
.alert-danger {
    /* Estilo para alerta de error */
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

.content-blur {
  filter: blur(5px); /* Ajusta el valor de blur según tus preferencias */
  transition: filter 0.3s ease; /* Agrega una transición suave */
}

@media (max-width: 768px) {
    .main-dash-open {
        margin-left: 00px;
        transition: margin-left  0.3s ease; /* Agrega una transición suave para una animación fluida */
    }
    .dash-button{
        height: 40px;
    }
    #nav-button {
        width: 80px;
        font-size: 0.9em;
    }
    .nav-user{
        display: none;
    }
    .info-card, #proporcionEmpleados, #eventosAño, #graficaEventos, #pieTipoMenus{
        margin-bottom: 10px;
    }
    .btn-options{
        margin-bottom: 10px;
    }
    .search-container {
        flex-direction: column; /* Stack the elements vertically */
      }
    
      /* Adjust the width and margin for the filter and search components to fit the mobile layout */
      .search-container .filter 
      {
        width: 100%; /* Full width for the filter */
        margin-bottom: 10px; /* Add some space between filter and search */
      }
    
      .search-container .search {
        width: 100%; /* Full width for the search */
      }
    .donut-container{
       margin-bottom: 10px;
       margin-right: 10px;
    }
    /*Graficos*/
    #participacionEmpleados{
        height: 200px !important;
    }
  
}

#buscarEmpleado{
    z-index: 0;
}

#buscarEmpleado{
    z-index: 0;
}

@media (max-width: 576px) {
    /* Further adjustments for even smaller screens */
    #nav-button {
        width: 60px;
        font-size: 0.8em;
    }
}

.accordion{
    width: 95%; 
}
.accordion-item{
    background-color: #d2c4f1;
}
.accordion-button {
    background: #ab8cf5;
}
.accordion-item:hover .accordion-button {     
    font-weight: bold;
}

.detalles {
    max-width: 600px; /* Cambia este valor según sea necesario */
  }

#mensajeModificar
{
    text-align: center;
    display: NONE;
    width: 300px;
    height: auto;
    margin: 0 auto;
}
.personal-info input[disabled] {
    background-color: transparent;
    border-color: transparent;
    font-style: oblique;
  }
