.header{
    background-image: linear-gradient(135deg, #5603ad, #f58cd6);
    height: 100px;
    color: white;
  }
.offer-container{
    background-color: #5603ad;
    color: white;
    margin: 30px;
}
.info-job, .chef-image, .offer-container{
    border-radius: 50px;
}
#login-btn {
    padding: 1.5em 2.5em;
    border: 2px solid transparent;
    border-image: linear-gradient(135deg, #5603ad, #f58cd6) 1;
    border-style: solid;
    border-radius: 10px;
    color: white;
    font-size: 1.2em;
    background-color: transparent;
  }
  #login-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
  }



  
 