form {
    display: flex;
    flex-direction: column;
}

label, select, input {
    margin-bottom: 10px;
    width: 80%; 
    box-sizing: border-box; 
}

@media (max-width: 400px) {
    form {
        padding: 20px; 
    }

    label, select, input, button{
        max-width: 300px; 
    }
}

button {
    background-color: #3800d2;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #000647;
}

#eventos-list {
    max-width: 300px;
    margin: 20px auto;
}
.ui-datepicker {
    position: absolute;
    z-index: 9999;
}

.rounded-div {
    width: 200px;
    height: 150px;
    background-color: #3498db;
    clip-path: polygon(0 20px, 20px 0, calc(100% - 20px) 0, 100% 20px, 100% calc(100% - 20px), calc(100% - 20px) 100%, 20px 100%, 0 calc(100% - 20px));
}
.container {
    display: flex;
    flex-wrap: wrap;
}

#evento-form {
    flex-basis: calc(50% - 10px); 
    margin-right: 20px; 
    max-width: 600px;
}

#descripcionComida {
    flex-basis: calc(50% - 10px);
    height: fit-content;
    padding-top: 1%;
    margin-top: 20px; 
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 1%;
}

/* Media Query para dispositivos móviles */

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
    }

    #evento-form, #descripcionComida {
        flex-basis: 100%; 
        margin: 0; 
    }
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 1%;
    width: 300px;
    float: left;
    }
    
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      margin-left:3%;
    }
    @media (max-width: 767px) {
        .card {
          margin: 1% auto; /* Margen vertical 1% y centrar horizontalmente */
          float: none; /* Eliminar float en dispositivos móviles */
        }
        
        .card-container {
          margin-left: 0; /* No necesitas margen izquierdo en dispositivos móviles */
        }
      }
  
/* Estilos básicos para las cards */

  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .card ul {
    list-style-type: none;
    padding: 0;
  }
  
  .card li {
    margin-bottom: 5px;
  }
  
  .hidden {
    display: none;
}
h2{
  height: 115px;
}