a{
    text-decoration: none;
}

/*Estilos para el calendario*/
#calendar {
    width: 100%; /* Ancho del contenedor (puede ser en porcentaje o en píxeles) */
    height: 500px; /* Alto del contenedor en píxeles */
}
/*Color de la celda del dia actual*/
.fc-day-today {
    background-color: #FFF8E7;
}
/*Color letras de los titulos (Dom, Lun.. etc)*/
.fc-col-header-cell-cushion{
    color: white;
    text-transform: capitalize;
}
/*Numeros de los dias*/
.fc-daygrid-day-number{
    color: #343434;
    font-size: 30px;
}
/*Titulo del calendario (Mes)*/
.fc-toolbar-title{
    color: #343434;
    text-transform: capitalize;
    margin-top: 50px !important;
}
.fc-toolbar-chunk{
    text-align: center;
}
.fc-header-toolbar{
    margin-bottom: 0px !important;
    height: 100px;
}
/*Botones*/
.fc-button{
    background-color: #381C47 !important;
}
/* Cambiar el color de los números y letras en los elementos de día */
.fc-day, .fc-day-number {
    color: #343434; /* Cambia este valor al color que desees */
}
/* Cambiar el color de fondo de los eventos */
.fc-event {
    background-color: #ff33ff;
}
/* Cambiar el color de fondo de las celdas*/
.fc-day {
    background-color: #D8D8D6;
}
/*Color de los bordes*/
.fc-daygrid-day-frame{
    border: 1px solid #61697B;
}
.fc-col-header-cell{
    background-color: #381C47;
    border: 1px solid #61697B;
}
/*Quitar espacio entre los bordes*/
.fc-theme-standard td, .fc-theme-standard th
{
    border: 0px;
}
/*Color del recuadro seleccionado*/
.fc-day-selected {
    background-color:#836892; /* Cambia el color a verde */
    /* Otras propiedades de estilo si es necesario */
}
/*Recuardos desactivados*/
.fc-day-disabled {
    background-color: rgba(0, 0, 0, 0.1); /* Color de fondo más oscuro */
}
/* Aplicar color apagado a los días pasados */
.fc-day-past {
    background-color: rgba(255, 255, 255, 0.342);
}
/*Form del evento*/
#evento-form{
    color: #343434;
}
#infoAgendar{
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #381C47;
}
#home{
    font-size: 20px;
}
#descripcionComida{
    padding: 20px;
    font-size: 15px;
}

@media (max-width: 768px) {
    /*Numeros de los dias*/
    .fc-daygrid-day-number{
        color: #343434;
        font-size: 12px;
    }
}