.main-container{
    color: #343434;
    text-align: center;
    
}
.two-part{
    height: 200px;
}
h5 {
    border-bottom: 1px solid #381c47; /* Borde violeta */
    padding-bottom: 10px;/* Espacio entre el h5 y el contenido siguiente */
  }
#mountain{
    height: 450px;
}
@media (max-width: 767px) {
    .max-width-100 {
        max-width: 100%;
    }
    #mountain{
        height: 250px;
    }
}